services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
    environment:
      WATCHPACK_POLLING: "true"
      CHOKIDAR_USEPOLLING: "true"
      NEXT_TELEMETRY_DISABLED: "1"
    volumes:
      - .:/app
      - node_modules:/app/node_modules
      - next_cache:/app/.next
    init: true
    stdin_open: true
    tty: true

  storybook:
    build:
      context: .
      dockerfile: Dockerfile.dev
    command: ["npm", "run", "storybook", "--", "--host", "0.0.0.0", "--port", "6006"]
    ports:
      - "6006:6006"
    environment:
      WATCHPACK_POLLING: "true"
      CHOKIDAR_USEPOLLING: "true"
      NEXT_TELEMETRY_DISABLED: "1"
    volumes:
      - .:/app
      - node_modules:/app/node_modules
      - next_cache:/app/.next
    profiles: ["storybook"]
    init: true
    stdin_open: true
    tty: true

volumes:
  node_modules:
  next_cache: